body {
    background-color: black;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    text-align: right;
    color: red;
    font-family: sans-serif;
}
p {
    text-align: right;
}
em{
    color:greenyellow;
}